

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
<table class="Panelimg" >
    <br>
        <tr>
                <th><img src="img/logo PNG.png" alt=""></th>
            <th><img src="img/gobernacion.png" alt=""></th>
            <th><img src="img/gov.co.png" alt=""></th>
            <th><img src="img/COLCIENCIAS.png" alt=""></th>
        </tr>
    </table> 
</div>
        <div class="col-md-4">
<br>
<br>
<a href="/" id="principal">Inicio</a>
<a href="/informacion" id="conoce">Conoce</a>
<a href="/inicio" id="inicio">Iniciar sesión</a>
    </div>
    </div>
    </div>
<div><h1 class="TituloConoce">Conoce la Universidad TDEM</h1></div>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">



<section class="Conoce">
    <h3>Reconocimientos</h3>
    <ul>
        <li>Reconocimiento por Innovación Educativa (Año)</li>
        <li>Mejor Universidad en Ciencia y Tecnología (2022)</li>
        <li>Mejor Universidad en Ciencia y Tecnología (Año)</li>
        <li>Reconocimiento por Innovación Educativa (2023)</li>
        <li>Reconocimiento por Excelencia en Investigación (2023)</li>
    </ul>

</section>

<!-- Sección de Fechas Importantes -->
<section class="Conoce">
    <h3>Fechas Importantes</h3>
    <ul>
        <li>Inicio del semestre: [Fecha]</li>
        <li>Periodo de inscripciones: [Fechas]</li>
        <li>Vacaciones de mitad de semestre: [Fechas]</li>
        <li>Fecha Límite para la Presentación de Proyectos de Investigación: [Fechas]</li>
        <li>Día de la Innovación Tecnológica en el Campus: 30 de octubre de 2024</li>
    </ul>
</section>

<!-- Sección de Temas Relevantes -->
<section class="Conoce">
    <h3>Temas Relevantes</h3>
    <ul>
        <li>Inteligencia Artificial</li>
        <li>Ciencia de Datos</li>
        <li>Desarrollo Sostenible</li>
        <li>Tecnología Educativa</li>
        <li>Robótica y Automatización</li>
    </ul>
</section>


</div>
        <div class="col-md-5">
<table class="Contacto">
    <tr>
<th>
        <fieldset class="Contacto1">
    <p class="Contactotitulo"> Dirección:</p>
    <p>Carrera 43A # 34-95</p>
    <p>Medellín, Colombia</p>
            </fieldset> 
            </th>
            <th>
            <fieldset class="Contacto1">
                <p class="Contactotitulo">Teléfonos:</p>
                <p>+57 123 456 789</p>
                <p>+57 987 654 321</p>
            </fieldset>
        </th>
    </tr>
    <tr>
        <th><fieldset class="Contacto1">
    <p class="Contactotitulo">Correos Electrónicos:</p>
    <p>info@tdem.edu.co</p>
    <p>admisiones@tdem.edu.co</p>
    <p>soporte@tdem.edu.co</p>
</fieldset></th>
        <th>
            <fieldset class="Contacto1">
                <p class="Contactotitulo">Horario de Atención:</p>
                <p>Lunes a Viernes: 8:00 am - 5:00 pm</p>
                <p>Sábados: 8:00 am - 12:00 pm</p>
                <p>Domingos: Cerrado</p>
            </fieldset>
        </th>
    </tr>
</table>
</div>
    </div>
</div>

<!-- Pie de página -->
<footer class="Footer2">
    <p>&copy; 2024 Tecnológico de Medellín Institución Universitaria.</p>
</footer>