<table>
<tr>
    <th ><img class="IColcafe" src="img/Colcafe.png" alt=""></th>
    <th ><img class="ICamerons" src="img/Camerons.PNG" alt=""></th>
    <th ><img class="IIndustrascafe" src="img/Industriascafe.PNG" alt=""></th>
    <th ><img class="ITropicalcoffe" src="img/Tropicalcoffe.PNG" alt=""></th>
</tr>
</table>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <br>
            <!-- Botón de "Iniciar sesión" estilizado con Bootstrap y con clase personalizada -->
            <a href="/inicio" class="btn btn-primary iniciar-sesion">Iniciar sesión</a>
        </div>
    </div>
</div>

<table>
    <tr>
        <th><img class="PrincipalImg" src="img/Imagen.png" alt=""></th>
        <th>
            <div class="informacion">
                <h1 class="Titulo">Bienvenido a la Plataforma de Inocuidad de Colcafé</h1>
                <p class="TextoInfo">Nuestra aplicación web está diseñada para garantizar que la gestión de la inocuidad 
                    alimentaria en Colcafé sea precisa, eficiente y accesible. Aquí, los operarios y
                    administradores pueden registrar, monitorear y gestionar los recorridos de inocuidad 
                    de manera centralizada y en tiempo real, asegurando que cada paso en la cadena de producción
                    cumpla con los más altos estándares de seguridad alimentaria.</p>
                <h2 class="Subtitulo">¡Tu seguridad es nuestra prioridad!</h2>
            </div>
        </th>
    </tr>
</table>

    <!-- Contenedor de la tabla del footer -->
<table class="footer-table">
    <tr>
        <!-- Celda para la imagen -->
        <td class="footer-image">
            <img src="img/footer.png" alt="Colcafé Logo">
        </td>
        <!-- Celda para el contenido del footer -->
        <td class="footer-content">
            <footer class="FooterInicio">
                <p>&copy; 2024 Colcafé, todos los derechos reservados</p>
                <p>Dirección: Cl. 8 Sur, Guayabal, Medellín, Guayabal, Medellín, Antioquia</p>
                <p>Teléfono: 01-800-0510777</p>
            </footer>
        </td>
    </tr>
</table>



