
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
<table class="Panelimg" >
        <tr>
                <th><img src="img/logo PNG.png" alt=""></th>
            <th><img src="img/gobernacion.png" alt=""></th>
            <th><img src="img/gov.co.png" alt=""></th>
            <th><img src="img/COLCIENCIAS.png" alt=""></th>

        </tr>
    </table> 
</div>
        <div class="col-md-3">
<br>
<a href="/informacion" id="conoce">Conoce</a>
<a href="/inicio" id="inicio">Iniciar sesión</a>
    </div>
    </div>
    </div>
<br>
<br>
<table>

    <tr>
        <th class="Index-tecnologica"><img src="img/Index-tecnologica.jpg" alt=""></th>
        <th class="graduacion"><img src="img/Graduacion.jpg" alt=""></th>
    <th>
<br>
<br>
<br>
<br>



    <fieldset>
    <footer>
        <div class="Textop">
            <p>Correo:  infotechinoovatetdem@tdem.edu.co</p>
            <p>Teléfono:  +57 123 456 789</p>      
            <a href="/comoLlegar" id="Mapa" >Ubicación</a>
                <br>
                <p>Síguenos en nuestras redes:</p>
            <img class="Social" src="/img/facebook.svg">
            <img class="Social" src="/img/instagram.svg">
            <img class="Social" src="/img/whatsapp.svg">
            <br>
            <br>
            <p>&copy; 2024 Tecnológico de Medellín Institución Universitaria.</p>
        </div>
        
    </footer>
</fieldset>
        </th>
    </tr>
</table>

<fieldset class="Textonav">
    <table>
        <tr>
            <th>
                <p>
                    Bienvenido a Tecnologico de Medellin Institucion Universitaria (TdeM), 
                    Donde la ciencia y la tecnologia unen para crear el futuro techinoovate 
                    university es lider en la redeficion de la educacion superior.
                    <nav class="Navegacion">
                        <a href="/Conoce">Información </a>
                    </nav>
                </p>
            </th>
        </tr>
    </table>
</fieldset>

<h1 class="Titulo">TDEM INFORMA</h1>

<main>
    <table>
        <tr>
            <td>
                <h2 class="Titulo2">Innovacion</h2>
                <img class="Informaimg" src="img/Innovacion.jpg" alt="">
                <fieldset class="TextoTDEM">
                    <p>La Universidad TDEM innova en la educación superior con enfoques centrados en el estudiante y
                        tecnologías avanzadas.</p>
                </fieldset>
            </td>
            <td>
                <h2 class="Titulo2">Ciencia a tu alcance</h2>
                <img class="Informaimg" src="img/Ciencia.jpg" alt="">
                <fieldset class="TextoTDEM">
                    <p> La intersección entre ciencia y educación es fundamental en la Universidad TDEM. 
                        A través de metodologías innovadoras.</p>
                </fieldset>
            </td>
        </tr>

        <tr>
            <td>
                <h2 class="Titulo2">Historias</h2>
                <img class="Informaimg" src="img/Historias.jpg" alt="Historias">
                <fieldset class="TextoTDEM">
                    <p>Las historias de nuestros egresados son ejemplos inspiradores de éxito.
                        Desde emprendedores hasta líderes en sus campos.</p>
                </fieldset>
            </td>

            <td>
                <h2 class="Titulo2">La musica como parte de la vida</h2>
                <img class="Informaimg" src="img/Musica.jpg" alt="">
                <fieldset class="TextoTDEM">
                    <p>La música es esencial en TDEM. A través de programas innovadores y eventos,
                        fomentamos la creatividad musical.</p>
                </fieldset>
            </td>
        </tr>
    </table>
</main>

</body>
</html>