

    <div class="container-fluid">
        <div class="row">
        <div class="col-md-8">
    <table class="Panelimg" >
        <br>
            <tr>
                <th><img src="img/logo PNG.png" alt=""></th>
                <th><img src="img/gobernacion.png" alt=""></th>
                <th><img src="img/gov.co.png" alt=""></th>
                <th><img src="img/COLCIENCIAS.png" alt=""></th>

            </tr>
        </table> 
    </div>
        <div class="col-md-4">
    <br>
    <br>
    <a href="/" id="principal">Inicio</a>
    <a href="/conoce" id="conoce">Información</a>
    <a href="/inicio" id="inicio">Iniciar sesión</a>

        </div>
        </div>
        </div>
    <br>
    <br>

    <div id="titulo-container-informacion">
        <h2>Programas Universidad TDEM</h2>
    </div>


    <table id="tableInformacion">
        <tr>
            <th><img class="ImgE" src="img/Estudiante 1.jpg" alt="Estudiante 1">
                <ul class="Lista">
                    <h2>Pregrado</h2>
                    <li>Ingeniería de software</li>
                    <li>Ingeniería de telecomunicaciones</li>
                    <li>Ingeniería ambiental</li>
                    <li>Ciencia de análisis de la información</li>
                    <li>Ingeniería en sistemas </li>
                    <li>Tecnologia en Redes</li>

                </ul>
            </th>

            <th><img class="ImgE1" src="img/Estudiante 2.jpg" alt="Estudiante 2">
                <ul class="Lista1">
                    <h2>Posgrado</h2>
                    <li>Maestría ingeniería de software</li>
                    <li>Maestría ingeniería de telecomunicaciones</li>
                    <li>Maestría en Computación Cuántica</li>
                    <li>Maestría en ciencia de la información</li>
                    <li>Maestría ingeniería en sistemas </li>
                </ul>
            </th>

            <th><img class="ImgE2" src="img/Cursos.jpg" alt="Cursos">
                <ul class="Lista2">
                    <h2>Cursos</h2>
                    <li>Curso de sistemas operativos</li>
                    <li>Curso de telecomunicaciones</li>
                    <li>Curso de Seguridad Informática</li>
                    <li>Curso de ciencia de datos</li>
                    <li>Curso de APP</li>
                    <li>Curso de Análisis de Algoritmos</li>
                    <li>Curso de Inteligencia Artificial</li>
                </ul>
            </th>
        </tr>
    </table>

    <footer class="Footer2">
        <table id="tableInformacion2">
            <tr>
                <th>
                    <p>&copy; 2024 Tecnológico de Medellín Institución Universitaria. Todos los derechos reservados.</p>
                </th>
                <th>
                    <div class="SocialContainer">
                        <img class="SocialtableInformacion2" src="/img/whatsapp.svg">
                        <img class="SocialtableInformacion2" src="/img/instagram.svg">
                        <img class="SocialtableInformacion2" src="/img/facebook.svg">
                    </div>
                </th>
            </tr>
        </table>
    </footer>



