<table>
    <thead>
    <tr>
        <th>Parámetros a revisar</th>
        <th>Calificación</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Limpieza del área</td>
        <td><!-- Aquí puedes agregar la calificación o dejar un campo de entrada --></td>
    </tr>
    <tr>
        <td>Condiciones estructurales</td>
        <td></td>
    </tr>
    <tr>
        <td>Elementos de limpieza</td>
        <td></td>
    </tr>
    <tr>
        <td>Objetos en desuso</td>
        <td></td>
    </tr>
    <tr>
        <td>Objetos extraños en proceso</td>
        <td></td>
    </tr>
    <tr>
        <td>Identificación de producto</td>
        <td></td>
    </tr>
    <tr>
        <td>Plagas</td>
        <td></td>
    </tr>
    <tr>
        <td>Alérgenos</td>
        <td></td>
    </tr>
    <tr>
        <td>Personal de área</td>
        <td></td>
    </tr>
    <tr>
        <td>Observaciones</td>
        <td></td>
    </tr>
    </tbody>
</table>
