
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Se encuentra en la pagina de index-inicio Imagenes del banner superior colcafe*/
.IColcafe {
    width: 130px; 
    margin-top:30px;
    margin-left: -110px;
}

.ICamerons {
    width: 80px; 
    margin-top: 30px;
    margin-left: 10px;
}

.IIndustrascafe {
    width: 60px; 
    margin-top: 30px;
    margin-left: 30px;
}

.ITropicalcoffe {
    width: 100px; 
    margin-top: 30px;
    margin-left: 10px;
}


/* Pagina index Parametros de imegen principal con titulos y texto*/
.PrincipalImg{
    width: 350px; 
    margin-top: -20px;
    margin-left: -80px;
    border-radius: 8px; 
}

.Titulo {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 20px;
}

.Subtitulo {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 15px;
    margin-left: 130px;
}

.TextoInfo {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
}

/* Pagina index Contenedor para el contenido de h1, p, y h3 */
.informacion {
    border: 3px solid #ccc; /* Borde del cuadro */
    padding: 10px; /* Espaciado interior */
    margin: 50px 0; /* Espaciado exterior */
    background-color: #f9f9f9; /* Color de fondo claro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    margin-top: 0px;
    max-width: 700px; /* Define un ancho máximo para el footer */
    margin-left: 70px;
}


/* Pagina index Estilos para el botón de iniciar sesión */
.iniciar-sesion {
    display: inline-block; /* Asegura que el botón se comporte como un elemento en línea para centrado */
    text-align: center; /* Centra el texto dentro del botón */
    background-color: #d9534f; /* Color de fondo rojo */
    border: 1px solid #d9534f; /* Borde rojo */
    color: #fff; /* Color del texto en blanco */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    text-decoration: none; /* Quita el subrayado del enlace */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición suave para los cambios de color */
    margin-top: -130px;
    margin-left: 65px;
}

.iniciar-sesion:hover {
    background-color: #c9302c; /* Color rojo más oscuro al pasar el ratón */
    border-color: #c9302c; /* Borde rojo más oscuro */
}


/* Pagina index-Inicio Estilos para el contenedor del footer */
.FooterInicio {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 0.2;
    color: #333;
    border: 1px solid #ccc; /* Borde del cuadro */
    padding: 15px; /* Espaciado interior, ajusta el valor según tus necesidades */
    margin: 20px auto; /* Espaciado exterior, centrado horizontalmente */
    background-color: #f9f9f9; /* Color de fondo claro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    text-align: center; /* Centra el texto */
    max-width: 600px; /* Define un ancho máximo para el footer */
    width: 100%; /* Asegura que el footer ocupe el ancho del contenedor */
    min-height: 100px; /* Establece una altura mínima */
    position: relative; /* Permite ajustar la posición del footer */
    bottom: 0; /* Alinea el footer al fondo de la página si es necesario */
}

.footer-image img {
    width: 700px; /* Tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-left: -100px;
}


/* ////////////////////////////PAGINA INICIO///////////////////////////////////////////////////*/


/* Estilos para el cuadro de formulario */
.fieldset-Inicio {
    border: 3px solid #ccc; /* Borde del cuadro */
    padding: 20px; /* Espaciado interior */
    margin: 20px auto; /* Espaciado exterior y centrado horizontal */
    background-color: #f9f9f9; /* Color de fondo claro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    max-width: 500px; /* Limita el ancho máximo */
    margin-top: 50px;
}


/* Estilos para los botones */
.btn {
    display: inline-block; /* Asegura que el botón se comporte como un elemento en línea para centrado */
    text-align: center; /* Centra el texto dentro del botón */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    text-decoration: none; /* Quita el subrayado del enlace */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición suave para los cambios de color */
}

.iniciar-sesion1 {
    background-color: #d9534f; /* Color de fondo rojo */
    border: 1px solid #d9534f; /* Borde rojo */
    color: #fff; /* Color del texto en blanco */
    margin-right: 120px;
    margin-top: -0px;
}

.iniciar-sesion1:hover {
    background-color: #c9302c; /* Color rojo más oscuro al pasar el ratón */
    border-color: #c9302c; /* Borde rojo más oscuro */
}

.cancelar {
    background-color: #6c757d; /* Color de fondo gris */
    border: 1px solid #6c757d; /* Borde gris */
    color: #fff; /* Color del texto en blanco */
    margin-right: 10px;

}

.cancelar:hover {
    background-color: #5a6268; /* Color gris más oscuro al pasar el ratón */
    border-color: #5a6268; /* Borde gris más oscuro */
}


.calificacion-table {
    width: 100%;
    border-collapse: collapse;
}

.calificacion-table th, .calificacion-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.calificacion-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.calificacion-select {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.observaciones-input {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 1rem;
}
