<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!--importacion de letra fonts-->
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="css/bootstrap.css"> 
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>  
    <div class="container"> 
        {{{body}}}
    </div>

    <!-- Scripts JS -->
    <script src="js/bootstrap.js"></script>    
    <script src="js/css/estilos.js"></script> 
</body>
</html>
